version: '3'

services:
  doctor-appointment-microservice:
    image: asawiraemaan/doctor-appointment-microservice:${{ github.sha }}
    ports:
      - "5000:5000"
    networks:
      - mynetwork
    depends_on:
      - database

  database:
    image: postgres:latest
    environment:
      POSTGRES_DB: doctor_appointment_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: examplepassword
    networks:
      - mynetwork

networks:
  mynetwork:
